@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');


body{
background-color: #efebe5;
}
.mainphoto{
    opacity: 70%;
    width: 100%;
    height: 100vh;
    display: flex;
    background: url();
    background-size: cover;
    background-position: center;
    align-items: center;
    align-items: flex;
    box-shadow: 7px 7px 20px #e4d9cb;
}

.menu{
    background-color: #eadcca;
    display: inline;
}

    header{
        background-color: #eadcca;
        position:sticky;
        z-index: 999;
        top: -10px;
        box-shadow: 7px 7px 20px #eadcca;
        font-family: 'Markazi Text', serif;
        }

.menu ul{
    text-align: center;
    display: inline-block;
}

.menu li{
    display: inline-block;
}

.menu li a{
    display: inline-block;
    padding: 15px;
    text-decoration:none;
    font-size: 26px;
    border-radius: 3px;
    font-weight: bold;
    margin: 6px;
    color: rgb(96, 96, 96);
}

.menu li a:hover{
    background-color: rgb(226, 204, 176);
    color: black;
    transition: 1s
}

.Foundation{
    text-align: center;
    font-family: 'Markazi Text', serif;
}

.Foundation h1{
    background-color: rgb(226, 204, 176);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    overflow: auto;
    font-size: 50px;
}

.Foundation p{
    margin-top: -10px;
    color: rgb(0, 0, 0);
    font-size: 32px;
    overflow: auto;
}

#Events{
    background-color: rgb(226, 204, 176);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    overflow: auto;
    font-size: 50px;
    align-items: center;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.E{
    overflow: auto;
    display: inline-block;
    font-size: 25px;
}
.E h2{
background-color: rgb(183, 44, 44);
font-size: 30px;
font-weight: bold;
display: inline-block;
padding: 4px;
padding-left: 30px;
padding-right: 30px;
border-radius: 4px;
}
.E p{
    font-size: 20px;
}

.photos {
    overflow: auto;
    margin-top: 10;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.photos img{
    border-style:solid;
    border-width:2px;
    border-color:  rgb(0, 0, 0) ;
    border-radius:6px;
    object-fit: cover;
    margin: 2px;
    object-position:top;
    }

    .footer{
        overflow:auto;
        padding-top: 20px;
        padding-bottom:20px;
        text-align: center;
        background-color:#777777;
        font-size: 10px;
        }
        
    .footer p{
        font-size: 26px;
    }
    .footer h2{
        font-size: 30px;
    }

    .footer ul {
        text-align:center;
        padding-top:10px;
        padding-bottom:10px;
        text-decoration:none ;
    }
    .footer li {
        display:inline-block;
        text-align:center;
    }
    
    .footer li a {
        height:auto;
        width:auto;
        color:#333333;
        background-color:#f5f5f5;
        padding:10px;
        margin :4px;
        display:inline-block;
        font-size:16px;
        text-align :center;
        font-weight :bold;
        text-decoration:none;
        border-radius: 5px;
    }
    .footer li a:hover{
        background-color: wheat;
        border-radius: 5px;
    }